
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
</head>
<body>
    <div>
        <a class="btn btn-danger" href="/student/home">Home</a>
        <a class="btn btn-danger" href="/student/profile">Profile</a>
        <a class="btn btn-danger" href="/student/education">Education</a>
        <a class="btn btn-danger" href="/student/projects">Projects</a>
        <a class="btn btn-danger" href="/student/references">References</a>

        <h2>Projects</h2>

        <ul>
            <li>
                Object Oriented Programming 1 (Java)
                <ul>
                    <li>Car Rental System</li>
                </ul>
            </li>
            <li>
                Object Oriented Programming 2 (C#)
                <ul>
                    <li>Clinic Management System</li>
                </ul>
            </li>
            <li>
                Advance Database Management System
                <ul>
                    <li>Clinic Management System</li>
                </ul>
            </li>
            <li>
                Web Technologies
                <ul>
                    <li>Online Learning Platform</li>
                </ul>
            </li>
            <li>
                Advanced Programming In Web Technology
                <ul>
                    <li>Goods Buying And Selling Apps</li>
                </ul>
            </li>
            @*<li>Advanced Programming With .Net</li>*@
        </ul>
    </div>
</body>
</html>
