
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>References</title>
</head>
<body>
    <div>
        <a class="btn btn-danger" href="/student/home">Home</a>
        <a class="btn btn-danger" href="/student/profile">Profile</a>
        <a class="btn btn-danger" href="/student/education">Education</a>
        <a class="btn btn-danger" href="/student/projects">Projects</a>
        <a class="btn btn-danger" href="/student/references">References</a>

        <h2>References</h2>

        <ul>
            <li>
                Faculty Of Science & Technology<br />
                TANVIR AHMED <br />
                Lecturer , Computer Science <br />
                tanvir.ahmed@aiub.edu <br />

            </li>
        </ul>
    </div>
</body>
</html>
